*.o
*.mod
*.x
*.il
*.a
*.swp
*__genmod.f90 
*.optrpt
*.dbg
makefile.dep
#
preprocess/*
#
examples/*.out
examples/*.table
examples/*.detail
examples/*.detail_sum
examples/*.table_sum
examples/*.field
examples/*.dx
examples/*.ckpt
examples/last.gpl
examples/*.trace
#
examples/wfn/*[0-9]
examples/wfn/*.data

